API_ID=38250529
API_HASH=87ba30a53f394110c5d056562f9d7f94
BOT_TOKEN=8648695578:AAE5hCpXyMwJQinEEgE-uE8eUTo9W5fGnqo
DATABASE_URL=
DATABASE_NAME=iiuo_rename_bot
ADMIN_IDS=8644824052
LOG_CHANNEL_ID=-1003782236386

FORCE_SUBS=
START_PIC=

MAX_FILE_SIZE_MB=2000
PORT=10000
ENABLE_HEALTH_SERVER=false

DEFAULT_TIMEZONE=UTC
BROADCAST_BATCH_SIZE=25
BROADCAST_SLEEP_SECONDS=2
WORKERS=100
RENAME_TIMEOUT_SECONDS=900
DOWNLOAD_DIR=./data/downloads
TEMP_DIR=./data/temp
APP_NAME=IIUO Rename Bot
APP_URL=
