API_ID=
API_HASH=
BOT_TOKEN=
DATABASE_URL=
DATABASE_NAME=iiuo_rename_bot
ADMIN_IDS=
LOG_CHANNEL_ID=

FORCE_SUBS=
START_PIC=

MAX_FILE_SIZE_MB=2000
PORT=10000
ENABLE_HEALTH_SERVER=false

DEFAULT_TIMEZONE=UTC
BROADCAST_BATCH_SIZE=25
BROADCAST_SLEEP_SECONDS=2
WORKERS=100
RENAME_TIMEOUT_SECONDS=900
DOWNLOAD_DIR=./data/downloads
TEMP_DIR=./data/temp
APP_NAME=IIUO Rename Bot
APP_URL=
